.container {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Poppins;
}
.text-centre {
  text-align: center;
}

body {
  background-color: rgba(0, 0, 0, 0.89);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("images/heading.png\ \(2\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
  color: white;
  text-align: center;

  margin: 0;
}
header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}
header h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: #ffffff;
  text-decoration: none;
  width: Hug (179px) px;
  height: Hug (53px) px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  opacity: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
  display: inline-block;
  margin-top: 32px;
}
main {
  background-color: #ffffffe3;
  max-width: 1400px;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  padding: 20px 20px;
  margin-bottom: 10px 10px;
  grid-gap: 20px;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  /background-color: orange;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.grid-3-with-1st-narrow {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}

main img:hover {
  transform: scale(1.02);
  transition: transform 0.6s;
}
main h3 {
  margin: 0;
  color: #b5b3be;
  font-size: 25px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 5px;
  width: 536px;
  height: 24px;
  gap: 0px;
}
main h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  width: 536px;
  height: 100px;
}
main p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 312px;
  gap: 0px;
  opacity: 0.7px;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/footer.png.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0px;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin: 0;
}
footer li,
footer p {
  font-size: 16px;
  list-style: none;
  font-weight: 400;
  line-height: 24px;
  opacity: 90%;
  color: #ffffff;
  margin-top: 10;
}
footer ul {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
footer li {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 90px;
}
section.secondary {
  background-color: #f8f8f852;
  padding: 5 0 0;
}
.secondary h2 {
  color: #f8ae00;
}
.card {
  background-color: #252525;
  color: white;
}
.card-body {
  padding: 0px 25px;
}
.card h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin-bottom: 5px;
  color: #f8ae00;
}

.card h5 {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  opacity: 0.85;
}
.card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
  opacity: 0.75;
}
.btn {
  width: Fill (306px) px;
  height: Hug (53px) px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  opacity: 0px;
  color: white;
  text-decoration: none;
  background: #f8ae00;
  margin-top: 0px;
  margin-bottom: 50px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 12px;

    margin: 0;
  }
  h3 {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  section {
    padding: 30px;
  }
}
